<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gc.springbootrdbms.mapper.EmployMapper">

    <select id="findAllEmp" resultType="Employee">
        select * from employee
    </select>

    <select id="findEmpById" resultType="Employee">
        select * from employee where id = #{id}
    </select>

</mapper>